body {
	text-align: center;
	background: black; 
  font-family: 'Syne Mono', monospace;
}

#artist-statement {
	color: #f500b9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	font-family: 'Syne Mono', monospace;
	border-style: dashed;
	margin: 5%;
	padding: 5% 7%;
	font-size: 140%;
}

/*CSS Gallery Code*/

/** Code By WebDevTrick ( https://webdevtrick.com ) **/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body {
/*font-family: 'Titillium Web', sans-serif;
 color: white;*/
background: linear-gradient(to left, #ffc3a0, #FFAFBD ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*h1 {
  text-transform: uppercase;
  font-size: 4em;
}
img {
  height: 300px;
}

img:hover {
  height: 600px;
}

.cardholder {
  margin-top: 150px;
          perspective: 600px;
}
.card {
  width: 300px;
  height: 300px;
  background-color: transparent;
          transform: rotateY(50deg);
  box-shadow: -6px 5px 13px 2px rgba(0, 0, 0, 0.25);
  transition: all 1s ease;
  color: transparent;
}
.card:hover {
  width: 600px;
  height: 600px;
  background-color: transparent;
          transform: rotateY(0deg);
  box-shadow: 0px 0px 36px 2px rgba(0, 0, 0, 0.25);
  color: black;
}
.card:hover p {
  background-color: white;
}
p.desc {
  z-index:999;
  position: absolute;
  top: 10px;
  padding: 10px;
}
p.desc:hover {
}*/


/* End CSS Gallery Code*/




@media only screen and (max-width: 480px){ 
	#artist-statement{
		font-size: 79%;
	}
}

@media only screen and (max-width: 360px){
	#artist-statement{
		font-size: 84%;
	}
}


/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */