* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-y: hidden;*/
}

@font-face {
  font-family: 'Noto Mono'; /* Choose a name for the font */
  src: url('fonts/NotoMono-Regular.ttf') format('truetype'),
  /* Add other font formats if needed */
}

@font-face {
  font-family: 'Neuropolitical'; /* Choose a name for the font */
  src: url('fonts/neuropolitical-rg.otf') format('opentype'),
  /* Add other font formats if needed */
}

@font-face {
  font-family: 'Conthrax'; /* Choose a name for the font */
  src: url('fonts/conthrax-sb.ttf') format('truetype'),
  /* Add other font formats if needed */
}

body {
  font-family: 'Noto Mono';
  /* overflow-x: hidden; Prevent horizontal scroll on body */
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 600%; /* 100% for each section */
  height: 100vh; /* Full viewport height */
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Enable snap scrolling */
}

section {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  scroll-snap-align: start; /* Snap to the start of each section */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url('ds-tools-gradient-background.svg') no-repeat center center; /* Background SVG */
  background-size: cover;
}

#title-laptop {
  position: static;
  top: 30%;
  left: 48px; 
  padding-left: 4vh;
}

h1 {
  width: 364px;
  color: rgba(0,0,0,1);
  position: relative;
  text-shadow: 0px 4px 15px rgba(0.3137255012989044, 0.8470588326454163, 0.364705890417099, 0.75);
  font-family: 'Noto Mono';
  font-weight: Regular;
  font-size: 74px;
  opacity: 1;
  text-align: left;
  z-index: 1;
}

#laptop {
  position: relative;
  bottom: 70px;
  left: 170px;
  width: 40%; /* Adjust logo size */
  margin: 0 10px; /* Space between logos */
  z-index: 1;
}

.logos img {
  position: relative;
  width: 140px; /* Adjust logo size */
  margin: 0 10px; /* Space between logos */
  z-index: 1;
}

.logos #signal {
  position: relative;
  bottom: 80px;
  left: 15px;
  width: 155px;
}

.logos #cryptpad {
  position: relative;
  top: 40px;
  left: 19px;
}

.logos #keepassxc {
  position: relative;
  bottom: 10px;
  left: 40px;
}

h2{

}

p section {
  z-index: 1;
  font-family: 'Noto Mono';
}

#arrow {
  position: absolute;
  bottom:40px;
  right: 1px;
  width: 150px; /* Adjust logo size */
  /* margin: 0 10px; Space between logos */
  z-index: 1;
}

.green-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%; /* Height of the green line */
  /* background-color: green; Green line color */
  /* background: url('ds-tools-Messaging-lines.svg'); */
  z-index: 0;
}

.green-line img{
  width: 100vw;
  height: 100vh;
}