* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*! margin: 0; */
  /*! padding: 0; */
  /*! width: 346px; */
  /*! color: rgba(0,0,0,1); */
  /*! position: absolute; */
  /*! top: 134px; */
  /*! left: 32px; */
  font-family: Noto Mono;
  /*! font-weight: Regular; */
  /*! font-size: 13px; */
  /*! opacity: 1; */
  /*! text-align: left; */
  overflow-x: hidden; /* Prevent horizontal scroll on body */
}

.container {
  display: flex;
  flex-direction: row;
  width: 600%; /* 100% for each section */
  height: 100vh; /* Full viewport height */
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Enable snap scrolling */
}

section {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  scroll-snap-align: start; /* Snap to the start of each section */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url('ds-tools-gradient-background.svg') no-repeat center center; /* Background SVG */
  background-size: cover;
}

h1, h2 {
  width: 364px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 183px;
  left: 48px;
  text-shadow: 0px 4px 15px rgba(0.3137255012989044, 0.8470588326454163, 0.364705890417099, 0.75);
  font-family: Noto Mono;
  font-weight: Regular;
  font-size: 74px;
  opacity: 1;
  text-align: left;
}

.logos img {
  width: 50px; /* Adjust logo size */
  margin: 0 10px; /* Space between logos */
}

.green-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; /* Height of the green line */
  /* background-color: green; Green line color */
  background: url('ds-tools-Messaging-lines.svg');
}