/* Styles for example pages */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

img,object,embed {
    display: block;
    max-width: 100%;
}

/* Base colors
 * #E9632F Orange
 * #F6CDB9 Orange light
 * #3A180B Dark
 * #743115 Mid
 * #FFF    White
 */
body {
    max-width: 1050px;
    margin: 0 auto;
    font-family: 'Syne Mono', monospace;
    font-size: 100%;
    line-height: 1.4em;
    background: #1a1818;
    color: #FFF;
}

p {
    padding: 1em;
    background: grey;
    font-size: 1em;
    margin: 0;
}

h1 {
    font-family: 'Syne Mono', monospace;
    font-size: 4.5em;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

h1 small {
    text-transform: none;
    font-weight: normal;
    font-size: 0.5em;
    letter-spacing: normal;
    font-family: 'Syne Mono', monospace;
}

#timeline {
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.2);
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    overflow: hidden;
}

#myImg01, #myImg02, #myImg03, #myImg04, #myImg05, #myImg06, #myImg07, #myImg08, #myImg09, #myImg010, #myImg011, #myImg012, #myImg013, #myImg014, #myImg015, #myImg016, #myImg017, #myImg018 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg01:hover {opacity: 0.7;}
#myImg02:hover {opacity: 0.7;} 
#myImg03:hover {opacity: 0.7;}
#myImg04:hover {opacity: 0.7;}
#myImg05:hover {opacity: 0.7;}
#myImg06:hover {opacity: 0.7;}
#myImg07:hover {opacity: 0.7;}
#myImg08:hover {opacity: 0.7;}
#myImg09:hover {opacity: 0.7;}
#myImg010:hover {opacity: 0.7;}
#myImg011:hover {opacity: 0.7;}
#myImg012:hover {opacity: 0.7;}
#myImg013:hover {opacity: 0.7;}
#myImg014:hover {opacity: 0.7;}
#myImg015:hover {opacity: 0.7;}
#myImg016:hover {opacity: 0.7;}
#myImg017:hover {opacity: 0.7;}
#myImg018:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 75%;
    //max-width: 75%;
}

/* Caption of Modal Image */
#caption01, #caption02, #caption03, #caption04, #caption05, #caption06, #caption07, #caption08, #caption09, #caption010, #caption011, #caption012, #caption013, #caption014, #caption015, #caption016, #caption017, #caption018 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption01, #caption02, #caption03, #caption04, #caption05, #caption06, #caption07, #caption08, #caption09, #caption010, #caption011, #caption012, #caption013, #caption014, #caption015, #caption016, #caption017, #caption018 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.out {
  animation-name: zoom-out;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}



.footer {
    font-size: 1em;
    color: #FFF;
    margin: 2em;
}

.footer a {
    color: #FFF;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
