body {
	text-align: center;
	background: black; 
  font-family: 'Syne Mono', monospace;
}

#artist-statement {
	color: #f500b9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	font-family: 'Syne Mono', monospace;
	border-style: dashed;
	margin: 5%;
	padding: 5% 7%;
	font-size: 140%;
}

/*CSS Gallery Code*/

/** Code By WebDevTrick ( https://webdevtrick.com ) **/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body {
/*font-family: 'Titillium Web', sans-serif;
 color: white;*/
background: linear-gradient(to left, #ffc3a0, #FFAFBD ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*h1 {
  text-transform: uppercase;
  font-size: 4em;
}
img {
  height: 300px;
}

img:hover {
  height: 600px;
}

.cardholder {
  margin-top: 150px;
          perspective: 600px;
}
.card {
  width: 300px;
  height: 300px;
  background-color: transparent;
          transform: rotateY(50deg);
  box-shadow: -6px 5px 13px 2px rgba(0, 0, 0, 0.25);
  transition: all 1s ease;
  color: transparent;
}
.card:hover {
  width: 600px;
  height: 600px;
  background-color: transparent;
          transform: rotateY(0deg);
  box-shadow: 0px 0px 36px 2px rgba(0, 0, 0, 0.25);
  color: black;
}
.card:hover p {
  background-color: white;
}
p.desc {
  z-index:999;
  position: absolute;
  top: 10px;
  padding: 10px;
}
p.desc:hover {
}*/


/* End CSS Gallery Code*/



body {
  background-color: black;
  color: rgb(212, 255, 71);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Syne Mono', monospace;
}

.slider-wrapper {
  /*margin: 1rem;*/
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.slides-container {
  height: calc(100vh - 2rem);
/*  width: 90%;*/
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scroll-snap-type: x mandatory;
}

/* WebKit */
.slides-container::-webkit-scrollbar { 
  width: 0;
  height: 0;
} 

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  scroll-snap-align: center;
}


.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  z-index: 1;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}





#intro {
  font-size: 40px;
  margin: 4%;
  line-height: 110%;
}


#carousel-icons {
  position: fixed;
  bottom: 0;
  left: 8vw;
  width: 81vw;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}

/*li{
  text-align: center;
  color: #1E1E1E;
}*/

#active-li{
  color: rgb(212, 255, 71);
}

#body2{
  background-image: url("img/mapbackground.png")
}

h2 {
  text-align: center;
  font-size: 71px;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
    color: #FF0000;
    text-shadow: 6px -5px 15px #FF003D;
    letter-spacing: -0.3rem;
    line-height: 90%;
    margin: 4%;
}


.text {
  border: dashed;
  border-radius: 50px;
  padding: 0px 20px;
  font-size: 24px;
  background-color: black;
  box-sizing: border-box;
  width: 84vw;
  height: 80vh;
  margin: 5vh auto 6vh;
  line-height: 1.1;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  }



.img {
  /*width: 383px;*/
  width: 80%;
    max-width: 950px;
    margin: auto;
}

img {
  width:  100%;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
  section {
    width:  100%;
  }
}
 
/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  section {
    width: 400px;
    height: 809px;
  }
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  section {
    width: 400px;
    height: 809px;
  }
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
  section {
    width: 400px;
    height: 809px;
  }
}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  section {
    width: 400px;
    height: 809px;
  }
}
 
/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  section {
    /*width: 400px;*/
    height: 809px;
  }
}
 
/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  section {
    width: 400px;
    height: 809px;
  }
}
 
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 3) {
  section {
    width: 400px;
    height: 809px;
  }
}


@media only screen and (max-width: 480px){ 
	#artist-statement{
		font-size: 79%;
	}
}

@media only screen and (max-width: 360px){
	#artist-statement{
		font-size: 84%;
	}
}


/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */